{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
    <section class="inner-page" id="profile-page">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="content">
                        <div class="row">
                            <div class="col-12 col-lg-3">
                                <!-- Side Panel -->
                                {% include 'account/side-panel.html' %}
                                <!-- /Side Panel -->
                            </div>
                            <div class="col-12 col-lg-9 pl-lg-0 pr-lg-2 mt-2 mt-lg-0">
                                <!-- New Address Form -->
                                <div class="custom-container mb-2" id="new-address">
                                    <div class="row pt-2 px-3">
                                        <div class="col-12"><h1>افزودن آدرس جدید</h1></div>
                                    </div>
                                    <hr>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12 pt-3">
                                                <form action="{% url 'cart:add_address' %}" method="post">
                                                    {% csrf_token %}
                                                    <div class="row">
                                                        <div class="col-12 col-md-4 pl-2">
                                                            <div class="form-group m-1">
                                                                <label for="province">استان:</label>
                                                                {{ form.state|attr:'class: form-control' }}
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-md-4 pl-2">
                                                            <div class="form-group m-1">
                                                                <label for="city">استان:</label>
                                                                {{ form.city|attr:'class: form-control' }}
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-md-8 pl-2">
                                                            <div class="form-group m-1">
                                                                <label for="address">نشانی کامل:</label>
                                                                {{ form.address|attr:'class: form-control' }}
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-md-4 pl-2">
                                                            <div class="form-group m-1">
                                                                <label for="postal_code">کد پستی:</label>
                                                                {{ form.postal_code|attr:'class: form-control' }}
                                                            </div>
                                                        </div>
                                                        <div id="change" class="col-12 col-md-4 pl-2">
                                                            <div class="form-group m-1">
                                                                <label for="receiver">تحویل گیرنده:</label>
                                                                {{ form.name|attr:'class: form-control' }}
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-md-4 pl-2">
                                                            <div class="form-group m-1">
                                                                <label for="tel">تلفن تماس:</label>
                                                                {{ form.phone|attr:'class: form-control' }}
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="form-group m-1 pb-3">
                                                                <input type="submit"
                                                                       class="btn btn-warning px-5 text-white"
                                                                       value="ذخیره آدرس">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /New Address Form -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}