{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
    <section class="inner-page" id="profile-page">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="content">
                        <div class="row">
                            <div class="col-12 col-lg-3">
                                <!-- Side Panel -->
                                {% include 'account/side-panel.html' %}
                                <!-- /Side Panel -->
                            </div>
                            <div class="col-12 col-lg-9 pl-lg-0 pr-lg-2 mt-2 mt-lg-0">

                                <!-- User Addresses -->
                                <div class="custom-container" id="addresses">
                                    <div class="row p-2">
                                        <div class="col-12 col-md-8 my-auto">
                                            <h1>ویرایش نشانی</h1>
                                        </div>

                                        <div class="col-12 col-md-4 text-start text-md-end">
                                            <a href="{% url 'cart:add_address' %}">
                                                <div class="btn btn-outline-dark w-50">
                                                    افزودن آدرس جدید
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="container">
                                        <div class="row">
                                            <!-- Address Record -->
                                            {% for add in addresses %}
                                                <div class="col-12 address py-2">
                                                    <div class="row">
                                                        <div class="col-12 col-sm-10">
                                                            <div class="title">{{ add.address }}</div>
                                                            <div class="sub-title">{{ add.state }}، {{ add.city }}</div>
                                                            <div class="sub-title">{{ add.phone }}</div>
                                                            <div class="sub-title">{{ add.name }}</div>
                                                        </div>
                                                        <div class="col-12 col-sm-2 text-lg-end">
                                                            <a href="{% url 'cart:delete_address' add.id %}"
                                                               onclick="return confirm('آیا جهت حذف این آدرس اطمینان دارید؟')"
                                                               class="float-right float-sm-left pr-2 pl-sm-2"><i
                                                                    class="fa fa-trash-alt font-weight-normal"></i></a>
                                                            <a href="{% url 'cart:edit_address' add.id %}"
                                                               class="float-right float-sm-left"><i
                                                                    class="fa fa-edit font-weight-normal"></i></a>
                                                            {% if add.is_default %}
                                                                <a href="{% url 'account:set_default' add.id %}"
                                                                   class="float-right float-sm-left ml-2"
                                                                   title="آدرس پیش فرض"><i class="fa fa-check-circle"
                                                                                           style="color: #fcb941"></i></a>
                                                            {% else %}
                                                                <a href="{% url 'account:set_default' add.id %}"
                                                                   class="float-right float-sm-left ml-2"
                                                                   title="آدرس پیش فرض"><i
                                                                        class="fa fa-circle-notch"></i></a>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                            <!-- Address Record -->
                                        </div>
                                    </div>
                                </div>
                                <!-- /User Addresses -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}