{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="inner-page" id="checkout-page">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="content">
                        <div class="row">
                            <div class="col-12">
                                <!-- Choose Address -->
                                <section id="choose-address">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12 py-3">
                                                <div class="pb-1 fs-5 title text-success">پرداخت شما با موفقیت انجام
                                                    شد.
                                                </div>
                                                <div class="pb-1 small text-black-50">سفارش شما در حال انجام می باشد.
                                                    تغییر وضعیت سفارش از طریق پیامک خدمت شما اطلاع داده خواهد شد.
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 pl-0" id="address-detail">
                                                        <div class="p-3 ml-3 mb-2 mb-md-0 ml-md-0 mt-2 address-to-send bg-info bg-opacity-10">
                                                            <div class="title text-primary">جزئیات سفارش</div>
                                                            <hr>
                                                            <div class="row">
                                                                <div class="col-12 col-md-4 my-1">شماره پیگیری:
                                                                    <strong>{{ order.id }}</strong></div>
                                                                <div class="col-12 col-md-4 my-1">تاریخ ثبت: <strong>01
                                                                    فروردین 1403 22:10</strong></div>
                                                                <div class="col-12 col-md-4 my-1">وضعیت سفارش: <strong>در
                                                                    حال انجام</strong></div>
                                                            </div>
                                                            <hr>
                                                            <div class="row">
                                                                <div class="col-12 col-md-3 my-1">مبلغ پرداختی:
                                                                    <strong>{{ order.total_price }} تومان</strong></div>
                                                                <div class="col-12 col-md-9 my-1">پرداخت اینترنتی توسط
                                                                    درگاه ملت
                                                                </div>
                                                                <div class="col-12 col-md-3 my-1">جمع تخفیف: <strong>100,000
                                                                    تومان</strong></div>
                                                                <div class="col-12 col-md-3 my-1">هزینه ارسال: <strong>30,000
                                                                    تومان</strong></div>
                                                            </div>
                                                            <hr>
                                                            <span>ارسال به:</span>
                                                            <div class="address-title">
                                                                <span id="province-title">{{ order.user.fname }}</span>،
                                                                <span id="city-title">{{ order.address.city }}</span>،
                                                                <span id="address">{{ order.address.address }}</span>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-12 col-md-4">کدپستی:
                                                                    <strong>{{ order.address.postal_code }}</strong>
                                                                </div>
                                                                <div class="col-12 col-md-8">تحویل گیرنده:
                                                                    <strong>{{ order.address.name }}</strong></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 pl-0 mt-3">
                                                        <div class="p-3 ml-3 mb-2 mb-md-0 ml-md-0">
                                                            <div class="title text-primary">محصولات خریداری شده</div>
                                                            <hr>
                                                            <div class="row">
                                                                <!-- Order Product Record -->
                                                                {% for item in order.items.all %}
                                                                    <span class="col-6 col-sm-4 col-lg-3 px-0 mx-2">
                                                                    <div class="product-box">
                                                                        <div class="image"
                                                                             style="background-image: url({{ item.product.main_image.url }})"></div>
                                                                        <div class="text-center px-1 px-sm-3">
                                                                            <h2>{{ item.product.title }}</h2>
                                                                            <div class="number">تعداد: {{ item.product.quantity }} عدد</div>
                                                                            <div class="price text-dark">{{ item.product.price }} تومان</div>
                                                                        </div>
                                                                    </div>
                                                            </span>
                                                                {% endfor %}
                                                                <!-- /Order Product Record -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <!-- /Choose Address -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}