{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="inner-page" id="checkout-page">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="content">
                    <div class="row">
                        <div class="col-12">
                            <!-- Choose Address -->
                            <section id="choose-address">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 py-3">
                                            <div class="pb-1 fs-5 title text-success">پرداخت شما با موفقیت انجام شد.</div>
                                            <div class="pb-1 small text-black-50">سفارش شما در حال انجام می باشد. تغییر وضعیت سفارش از طریق پیامک خدمت شما اطلاع داده خواهد شد.</div>
                                            <div class="row">
                                                <div class="col-12 pl-0" id="address-detail">
                                                    <div class="p-3 ml-3 mb-2 mb-md-0 ml-md-0 mt-2 address-to-send bg-info bg-opacity-10">
                                                        <div class="title text-primary">جزئیات سفارش</div>
                                                        <hr>
                                                        <div class="row">
                                                            <div class="col-12 col-md-4 my-1">شماره پیگیری: <strong>1234564</strong></div>
                                                            <div class="col-12 col-md-4 my-1">تاریخ ثبت: <strong>01 فروردین 1403 22:10</strong></div>
                                                            <div class="col-12 col-md-4 my-1">وضعیت سفارش: <strong>در حال انجام</strong></div>
                                                        </div>
                                                        <hr>
                                                        <div class="row">
                                                            <div class="col-12 col-md-3 my-1">مبلغ پرداختی: <strong>300,000,000 تومان</strong></div>
                                                            <div class="col-12 col-md-9 my-1">پرداخت اینترنتی توسط درگاه ملت</div>
                                                            <div class="col-12 col-md-3 my-1">جمع تخفیف: <strong>100,000 تومان</strong></div>
                                                            <div class="col-12 col-md-3 my-1">هزینه ارسال: <strong>30,000 تومان</strong></div>
                                                        </div>
                                                        <hr>
                                                        <span>ارسال به:</span>
                                                        <div class="address-title">
                                                            <span id="province-title">تهران</span>،
                                                            <span id="city-title">خیابان انقلاب</span>،
                                                            <span id="address">خیابان 12 فروردین، کوچه 1، پلاک 1</span>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12 col-md-4">کدپستی: <strong>123456789</strong></div>
                                                            <div class="col-12 col-md-8">تحویل گیرنده: <strong>مصطفی کیانی (09121234567)</strong></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 pl-0 mt-3">
                                                    <div class="p-3 ml-3 mb-2 mb-md-0 ml-md-0">
                                                        <div class="title text-primary">محصولات خریداری شده</div>
                                                        <hr>
                                                        <div class="row">
                                                            <!-- Order Product Record -->
                                                            <span class="col-6 col-sm-4 col-lg-3 px-0 mx-2">
                                                                <a href="./product.html" target="_blank">
                                                                    <div class="product-box">
                                                                        <div class="image" style="background-image: url(assets/images/products/p100.png)"></div>
                                                                        <div class="text-center px-1 px-sm-3">
                                                                            <a href="./product.html" target="_blank"><h2>گوشی موبایل سامسونگ مدل Galaxy A51 دو سیم کارت</h2></a>
                                                                            <div class="number">تعداد: 1 عدد</div>
                                                                            <div class="price text-dark">200,000,000 تومان</div>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </span>
                                                            <!-- /Order Product Record -->
                                                            <!-- Order Product Record -->
                                                            <span class="col-6 col-sm-4 col-lg-3 px-0 mx-2">
                                                                <a href="./product.html" target="_blank">
                                                                    <div class="product-box">
                                                                        <div class="image" style="background-image: url(assets/images/products/p200.png)"></div>
                                                                        <div class="text-center px-1 px-sm-3">
                                                                            <a href="./product.html" target="_blank"><h2>لپ تاپ 15 اینچی ایسوس مدل VivoBook X543MA-DM905</h2></a>
                                                                            <div class="number">تعداد: 1 عدد</div>
                                                                            <div class="price text-dark">100,000,000 تومان</div>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </span>
                                                            <!-- /Order Product Record -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <!-- /Choose Address -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}