{% load static %}

<section id="header">
    <!-- Top NavBar -->
    <div id="top-nav">
        <div class="container">
            <div class="row">
                <div class="col-8 d-none d-md-block">
                    <ul>
                        <li><a href="./index.html">صفحه نخست</a></li>
                        <li><a href="./about.html">درباره ما</a></li>
                        <li><a href="./contact.html">تماس با ما</a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-4 text-center text-md-end" id="top-support-info">
                    <span>تلفن مشاوره و فروش: 09351234567</span>
                </div>
            </div>
        </div>
    </div>
    <!-- /Top NavBar -->
    <!-- Search NavBar -->
    <div id="search-nav">
        <div class="container pt-1">
            <div class="row py-3 align-content-center">
                <div class="col-12 col-md-3 col-xl-2 text-center text-md-start pb-2" id="header-logo">
                    <a href="./index.html">
                        <img src="assets/images/logo.png" alt=""> روبیک مارکت
                    </a>
                </div>
                <div class="col-12 col-md-5 col-xl-6">
                    <div id="search-bar">
                        <i class="fa fa-search"></i>
                        <input type="text" placeholder="جستجو کنید...">
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="row">
                        {% if not user.is_authenticated %}
                            <div class="col-12 col-md-12 col-lg-6 text-center" id="btn-login-register">
                                <a href="{% url 'account:login' %}">ورود/عضویت</a>
                            </div>
                        {% else %}
                            <div class="col-12 col-md-12 col-lg-6 text-center " id="btn-login-register">
                                <div class="dropdown" onclick="CustomtoggleDropdown()" id="dropdown">
                                    <button style="outline: none; background: none; border: none"><i
                                            class="fa-solid fa-user fa-lg"
                                            style="color: #FFD43B;"></i>
                                        <a>{{ user.phone }}</a>
                                        <i class="fa-solid fa-angle-down"></i>
                                        <div class="dropdown-content" id="dropdownContent">
                                            <a style="font-size: 15px" href="{% url 'account:profile' %}">پروفایل کاربری</a>
                                            <a style="font-size: 15px; color: #ff5656" href="{% url 'account:logout' %}">خروج از حساب</a>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        {% endif %}
                        <div class="col-12 col-md-5 col-lg-6">
                            <a href="./cart.html">
                                <div class="btn btn-warning w-100"><i class="fa fa-shopping-cart"></i>&nbsp;<span
                                        class="d-md-none d-lg-inline-block">سبد خرید</span> (2)
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Search NavBar -->
    <!-- Main NavBar -->
    <div id="main-nav">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="droopmenu-navbar dmarrow-down droopmenu-horizontal dmpos-top dmfade">
                        <div class="droopmenu-inner">
                            <div class="droopmenu-header">
                                <a href="#" class="droopmenu-toggle"><i class="dm-burg"></i></a>
                                <span class="d-md-none">منوی فروشگاه</span>
                            </div>
                            <!-- Header Mega Menu-->
                            {% include 'includes/categories.html' %}
                            <!-- /Header Menu Menu -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main NavBar -->
</section>

<script>
    function CustomtoggleDropdown() {
        var dropdown = document.querySelector('.dropdown');
        dropdown.classList.toggle('active');
    }

    // Close the dropdown when clicking outside of it
    document.addEventListener('click', function (event) {
        var dropdown = document.getElementById('dropdown');
        if (!dropdown.contains(event.target)) {
            dropdown.classList.remove('active');
        }
    });
</script>