{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>فروشگاه جاناشاپ</title>
    <!-- CSS Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.rtl.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/aos-master/dist/aos.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/hover-master/css/hover-min.css' %}">
    <link rel="stylesheet" href="{% static 'css/ionicons.css' %}">
    <link rel="stylesheet" href="{% static 'css/droopmenu.css' %}">
    <link rel="stylesheet" href="{% static 'css/highlight.css' %}">
    <link rel="stylesheet" href="{% static 'css/nouislider.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- /CSS Styles -->
    <!-- Font Awesome -->
    <link href=https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
</head>