{% load static %}
<div id="comments-tab" class="tabs-container px-0 px-md-3 pb-0 pb-md-2"
     style="display:none">
    <div class="row">
        <div class="col-12 text-justify" id="comments">
            <div class="comments-container">
                <div class="container px-0">
                    <div class="row">
                        <div class="col-12 pt-2">
                            <!-- Show Comments -->
                        {% if product.comments.all %}
                            <div class="comment p-3 my-2">
                                {% for comment in product.comments.all %}
                                    {% if comment.is_published %}
                                        {% if comment.parent == none %}
                                            <div class="sender-details">
                                                <div class="row">
                                                    <div class="col-3 col-sm-2 col-md-1 pl-md-0 pl-lg-2 pl-xl-3">
                                                        {% if user.image %}
                                                            <img src="{{ user.image.url }}"
                                                                 alt=""
                                                                 class="rounded">
                                                        {% else %}
                                                            <img src="{% static "images/user-no-image.jpg" %}"
                                                                 alt=""
                                                                 class="rounded">
                                                        {% endif %}
                                                    </div>
                                                    <div class="col-9 col-sm-10 col-md-11 pr-0 pr-md-2 pr-xl-0 pt-0 pt-lg-1">
                                                        <div class="name">
                                                            {{ comment.name }}
                                                        </div>
                                                        <div class="date">
                                                            ارسال شده
                                                            در {{ comment.jalali }}
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <p>{{ comment.body }}</p>
                                                        <span onclick="set_value({{ comment.id }})"
                                                              class="reply"><img
                                                                src="{% static 'images/comment-reply.png' %}"
                                                                alt=""> ارسال پاسخ</span>
                                                    </div>
                                                </div>
                                            </div>
                                        {% else %}
                                            <!-- Comment Reply -->
                                            <div class="row justify-content-end">
                                                <div class="col-11 pt-2 pr-0">
                                                    <div class="comment p-3">
                                                        <div class="sender-details">
                                                            <div class="row">
                                                                <div class="col-3 col-sm-2 col-md-1 pl-md-0 pl-lg-2 pl-xl-3">
                                                                    {% if user.image %}
                                                                        <img src="{{ user.image.url }}"
                                                                             alt=""
                                                                             class="rounded">
                                                                    {% else %}
                                                                        <img src="{% static "images/user-no-image.jpg" %}"
                                                                             alt=""
                                                                             class="rounded">
                                                                    {% endif %}
                                                                </div>
                                                                <div class="col-9 col-sm-10 col-md-11 pr-0 pr-md-2 pr-xl-0 pt-0 pt-lg-1">
                                                                    <div class="name">
                                                                        {{ comment.name }}
                                                                    </div>
                                                                    <div class="date">
                                                                        ارسال
                                                                        شده
                                                                        در
                                                                        {{ comment.jalali }}
                                                                    </div>
                                                                </div>
                                                                <div class="col-12">
                                                                    <p>{{ comment.body }}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /Comment Reply -->
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% else %}
                            <div class="comment p-3 my-2">
                                <p>اولین نفری باشید که نظر میدهید.</p>
                            </div>
                        {% endif %}
                            <!-- /Show Comments -->
                        </div>
                    </div>
                </div>
            </div>

            <!-- Send Comment Form -->
            {% if user.is_authenticated %}
                <div class="comments-container">
                    <div class="row pt-4">
                        <div class="col-12"><h2>دیدگاه خود را ارسال
                            کنید</h2></div>
                    </div>
                    <div class="row">
                        <div class="col-12 py-3">
                            <form method="post" action="">
                                {% csrf_token %}
                                <div id="send-comment-form">
                                    <p>نظر خود را برای این مطلب ارسال
                                        کنید.
                                        نشانی ایمیل شما منتشر نخواهد
                                        شد.</p>
                                    <div class="row">
                                        {% for m in messages %}
                                            <div href="message">
                                            <p>{{ m }}</p>
                                        {% endfor %}
                                        <div class="col-12 px-3 pl-md-1 col-md-6">
                                            <div class="form-group my-1">
                                                <input type="hidden"
                                                       id="name"
                                                       name="name"
                                                       value="











                                                               {{ user.fname }}{{ user.lname }}">
                                            </div>
                                        </div>
                                        <div class="col-12 px-3 pl-md-1 col-md-6">
                                            <div class="form-group my-1">
                                                <input type="hidden"
                                                       id="parent"
                                                       name="parent"
                                                       value="">
                                            </div>
                                        </div>
                                        <div class="col-12 px-3 pr-md-1 col-md-6">
                                            <div class="form-group my-1">
                                                <input type="hidden"
                                                       id="email"
                                                       name="email"
                                                       value="{{ user.email }}">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group my-1">
                                                                                            <textarea
                                                                                                    class="form-control"
                                                                                                    id="body"
                                                                                                    name="body" rows="4"
                                                                                                    placeholder="متن دیدگاه"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group my-1">
                                                <input type="submit"
                                                       value="ارسال دیدگاه"
                                                       id="submit"
                                                       class="btn btn-success px-5">
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            {% endif %}
            <!-- /Send Comment Form -->
        </div>
    </div>
</div>
