

{% if product.has_other_pages %}
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12">
                                                <div id="" class="border rounded">
                                                    <div class="col-12 text-center py-2">
                                                        {% if product.has_previous %}
                                                            <a href="?page={{ product.previous_page_number }}{% if minprice2 or maxprice2 %}&minprice={{ minprice2 }}&maxprice={{ maxprice2 }}{% endif %}{% if in_stock_only %}&in_stock_only=true{% endif %}"
                                                               class="btn btn-light">
                                                                <svg class="svg-inline--fa fa-angle-double-right fa-w-14"
                                                                     aria-hidden="true" focusable="false"
                                                                     data-prefix="fas" data-icon="angle-double-right"
                                                                     role="img" xmlns="http://www.w3.org/2000/svg"
                                                                     viewBox="0 0 448 512" data-fa-i2svg="">
                                                                    <path fill="currentColor"
                                                                          d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34zm192-34l-136-136c-9.4-9.4-24.6-9.4-33.9 0l-22.6 22.6c-9.4 9.4-9.4 24.6 0 33.9l96.4 96.4-96.4 96.4c-9.4 9.4-9.4 24.6 0 33.9l22.6 22.6c9.4 9.4 24.6 9.4 33.9 0l136-136c9.4-9.2 9.4-24.4 0-33.8z"></path>
                                                                </svg>
                                                            </a>
                                                        {% endif %}
                                                    {% for i in product.paginator.page_range %}
                                                        {% if product.number == i %}
                                                        <span class="btn btn-warning text-white">{{ i }}
                                                    </span>
                                                        {% endif %}
                                                    {% endfor %}
                                                        {% if product.has_next %}
                                                            <a href="?page={{ product.next_page_number }}{% if minprice2 or maxprice2 %}&minprice={{ minprice2 }}&maxprice={{ maxprice2 }}{% endif %}{% if in_stock_only %}&in_stock_only=true{% endif %}"
                                                               class="btn btn-light">
                                                                <svg class="svg-inline--fa fa-angle-double-left fa-w-14"
                                                                     aria-hidden="true" focusable="false"
                                                                     data-prefix="fas" data-icon="angle-double-left"
                                                                     role="img" xmlns="http://www.w3.org/2000/svg"
                                                                     viewBox="0 0 448 512" data-fa-i2svg="">
                                                                    <path fill="currentColor"
                                                                          d="M223.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L319.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L393.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34zm-192 34l136 136c9.4 9.4 24.6 9.4 33.9 0l22.6-22.6c9.4-9.4 9.4-24.6 0-33.9L127.9 256l96.4-96.4c9.4-9.4 9.4-24.6 0-33.9L201.7 103c-9.4-9.4-24.6-9.4-33.9 0l-136 136c-9.5 9.4-9.5 24.6-.1 34z"></path>
                                                                </svg>
                                                            </a>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}