{% extends 'base.html' %}
{% load static %}
{% load humanize %}


{% block content %}


    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/product-gallery.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/photoswipe.min.css"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/default-skin/default-skin.min.css"/>


    <section class="inner-page" id="product-page">
        <div class="pt-3 pb-1" style="padding-right: 26px" id="page-hero">
            <div class="">
                <div class="col-5 px-0">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">جانا شاپ</a></li>
                            <li class="breadcrumb-item"><a href="./products.html">فروشگاه</a></li>
                            {#                            {% for category in product.category.all %}#}

                            {% if not product.category.first.parent %}
                                <li class="breadcrumb-item" aria-current="page">
                                    <a href="./products.html">{{ product.category.first.title }}</a></li>
                            {% else %}
                                <li class="breadcrumb-item" aria-current="page">
                                    <a href="./products.html">{{ product.category.first.title }}</a></li>
                            {% endif %}
                            <li class="breadcrumb-item"><a style="color: #af7800"
                                                           href="{% url 'product:product_detail' product.slug %}">{{ product.title }}</a>
                            </li>
                            {#                            {% endfor %}#}
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="content">
                        <div class="row">
                            <div class="col-12 col-lg-5 px-lg-0">
                                <div class="swiper-container gallery-top">
                                    <!-- Additional required wrapper -->
                                    <ul class="swiper-wrapper">
                                        <!-- Slides -->
                                        {% for image in product.product_images.all %}
                                            <li id="1" class="swiper-slide">
                                                <a href="{{ image.image.url }}" itemprop="contentUrl"
                                                   data-size="900x710">
                                                    <img src="{{ image.image.url }}"
                                                         itemprop="thumbnail"
                                                         alt="{{ image.image.url }}"/>
                                                </a>
                                            </li>

                                        {% endfor %}
                                        <!-- /Slides -->
                                    </ul>
                                    <!-- If we need navigation buttons -->
                                    <div title="قبلی" class="swiper-button-prev swiper-button-white"></div>
                                    <div title="بعدی" class="swiper-button-next swiper-button-white"></div>
                                </div>

                                <!-- Swiper -->
                                <div class="swiper-container gallery-thumbs">
                                    <div class="swiper-wrapper">
                                        {% for image in product.product_images.all %}
                                            <div class="swiper-slide"
                                                 style="background-image:url('{{ image.image.url }}')"></div>
                                        {% endfor %}
                                    </div>
                                </div>

                            </div>
                            <div class="col-12 col-lg-7 mt-5 mt-lg-0 pl-lg-0" id="product-intro">
                                <a href="./product.html">
                                    <h1>{{ product.title }}</h1>
                                    <span class="badge badge-pill badge-primary">Primary</span>

                                </a>
                                <div class="stars-container">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <a href="#tabs-panel"><span>(نقد و بررسی)</span></a>
                                </div>
                                <div class="price-container py-2">
                                    {% if product.final_price %}
                                        <div><span class="pre-price-with">{{ product.price|intcomma }}</span>
                                            <span class="badge rounded-pill"
                                                  style="background: #ff0000; background-size: 800px">{{ product.discount }}%</span>
                                        </div>
                                        <span class="price">{{ product.final_price|intcomma }} <span>تومان</span></span>
                                    {% else %}
                                        <span class="pre-price-only">{{ product.price|intcomma }} <span>تومان</span></span>
                                    {% endif %}
                                </div>
                                <p>{{ product.short_body }}</p>
                                <div class="variables">
                                    <div class="row">
                                        <div class="col-12 col-sm-4 col-lg-3">
                                            <div class="variable">
                                                <div class="sub-title pt-2 pb-2">رنگ</div>
                                                <select name="" class="form-select">
                                                    {% for color in product.color.all %}
                                                        <option value="{{ color }}">{{ color }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        {% if product.size.all %}
                                            <div class="col-12 col-sm-4 col-lg-3">
                                                <div class="variable">
                                                    <div class="sub-title pt-2 pb-2">سایز</div>
                                                    <select name="" class="form-select">
                                                        {% for size in product.size.all %}
                                                            <option value="{{ size }}">{{ size }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        {% endif %}

                                        <div class="col-12 col-sm-4 col-lg-3">
                                            <div class="variable">
                                                <div class="sub-title pt-2 pb-2">تعداد</div>
                                                <div class="input-group mb-3 order-number">
                                                    <div class="input-group-prepend">
                                                        <button class="btn btn-outline-secondary btn-plus"
                                                                type="button">+
                                                        </button>
                                                    </div>
                                                    <input type="text" name="order-number[]" value="1"
                                                           class="form-control text-center order-number" readonly="">
                                                    <div class="input-group-prepend">
                                                        <button class="btn btn-outline-secondary btn-minus"
                                                                type="button">_
                                                        </button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="cta-container pt-3 pt-md-5">
                                    <div class="row">
                                        <div class="col-12">
                                            <a href="./cart.html">
                                                <div class="btn btn-success px-4 px-lg-2 px-xl-4 btn-add-to-basket"><i
                                                        class="fa fa-shopping-cart"></i> افزودن به سبد خرید
                                                </div>
                                            </a>
                                            <br class="d-sm-none">
                                            <div class="btn btn-outline-secondary btn-favorite mt-1 mt-sm-0"
                                                 data-toggle="tooltip" data-placement="top"
                                                 title="افزودن به علاقه‌مندی"></div>
                                            <a href="#">
                                                <div class="btn btn-outline-secondary btn-compare mt-1 mt-sm-0"
                                                     data-toggle="tooltip" data-placement="top" title="مقایسه"></div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Share Links -->
                                <div class="pt-5" id="share-links">
                                    <span>اشتراک گذاری: </span>
                                    <a href="#" target="_blank"><span class="share-link"><img
                                            src="{% static "images/social/twitter.png" %}" alt="توئیتر"
                                            width="18px"></span></a>
                                    <a href="#" target="_blank"><span class="share-link"><img
                                            src="{% static "images/social/insta.png" %}" alt="اینستاگرام"
                                            width="18px"></span></a>
                                    <a href="#" target="_blank"><span class="share-link"><img
                                            src="{% static "images/social/linkedin.png" %}" alt="لینکدین"
                                            width="18px"></span></a>
                                    <a href="#" target="_blank"><span class="share-link"><img
                                            src="{% static "images/social/facebook.png" %}" alt="فیس بوک"
                                            width="18px"></span></a>
                                </div>
                                <!-- Share Links -->
                            </div>

                            <!-- Nav Tabs -->
                            <div class="col-12">
                                <div id="product-nav-tabs">
                                    <div class="row pt-3 px-md-3">
                                        <div class="col-12">
                                            <div id="tabs-panel">
                                                <button class="tab-item tablink px-3 selected"
                                                        onclick="openTab(event,'html-tab')">نقد و بررسی
                                                </button>
                                                <button class="tab-item tablink px-3"
                                                        onclick="openTab(event,'details-tab')">جدول مشخصات
                                                </button>
                                                <button class="tab-item tablink px-3"
                                                        onclick="openTab(event,'comments-tab')">دیدگاه کاربران
                                                    {% if product.comments.all %}
                                                        ({{ comments_count }})
                                                    {% endif %}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12 pt-2 px-0 px-lg-0">
                                                <!-- HTML Tab -->
                                                <div id="html-tab" class="tabs-container text-justify p-0 p-md-3">
                                                    {{ product.review|safe }}
                                                </div>
                                                <!-- /HTML Tab -->

                                                {% include 'product/detail_tab.html' %}

                                                <!-- Comments Tab -->
                                                {% include 'product/comments.html' %}
                                                <!-- /Comments Tab -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Nav Tabs -->

                        <!-- Suggested Products -->
                        <div class="col-12 pt-5" id="suggested-products">
                            <div class="title py-3 text-center">محصولات مرتبط</div>
                            <div class="owl-carousel products-carousel">
                                <!-- Product Item -->
                                <div class="product-box item">
                                    <a href="./product.html">
                                        <div class="image"
                                             style="background-image: url('assets/images/products/p303.png')"></div>
                                    </a>
                                    <div class="details p-3">
                                        <div class="category">
                                            <a href="./products.html">گوشی موبایل</a>
                                            &nbsp;/&nbsp;
                                            <a href="./products.html">سامسونگ</a>
                                        </div>
                                        <a href="./product.html"><h2>مودم روتر ADSL2 Plus بی‌ سیم N300 دی-لینک مدل
                                            DSL-2740U</h2></a>
                                        <div class="price">3.000.000 تومان</div>
                                        <div class="rate">
                                            <i class="fa fa-star-half-alt"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <span class="reviews">(14 رای دهنده)</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Product Item -->
                                <!-- Product Item -->
                                <div class="product-box item">
                                    <a href="./product.html">
                                        <div class="image"
                                             style="background-image: url('assets/images/products/p201.png')"></div>
                                    </a>
                                    <div class="details p-3">
                                        <div class="category">
                                            <a href="./products.html">گوشی موبایل</a>
                                            &nbsp;/&nbsp;
                                            <a href="./products.html">سامسونگ</a>
                                        </div>
                                        <a href="./product.html"><h2>لپ تاپ 14 اینچی ایسوس مدل ZenBook UM433IQ -
                                            A5023</h2></a>
                                        <div class="price">5.000.000 تومان</div>
                                        <div class="rate">
                                            <i class="fa fa-star-half-alt"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <span class="reviews">(14 رای دهنده)</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Product Item -->
                                <!-- Product Item -->
                                <div class="product-box item">
                                    <a href="./product.html">
                                        <div class="image"
                                             style="background-image: url('assets/images/products/p302.png')"></div>
                                    </a>
                                    <div class="details p-3">
                                        <div class="category">
                                            <a href="./products.html">گوشی موبایل</a>
                                            &nbsp;/&nbsp;
                                            <a href="./products.html">سامسونگ</a>
                                        </div>
                                        <a href="./product.html"><h2>اسپیکر بلوتوثی قابل حمل تی اند جی مدل Tg-113</h2>
                                        </a>
                                        <div class="price">4.000.000 تومان</div>
                                        <div class="rate">
                                            <i class="fa fa-star-half-alt"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <span class="reviews">(14 رای دهنده)</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Product Item -->
                                <!-- Product Item -->
                                <div class="product-box item">
                                    <a href="./product.html">
                                        <div class="image"
                                             style="background-image: url('assets/images/products/p203.png')"></div>
                                    </a>
                                    <div class="details p-3">
                                        <div class="category">
                                            <a href="./products.html">گوشی موبایل</a>
                                            &nbsp;/&nbsp;
                                            <a href="./products.html">سامسونگ</a>
                                        </div>
                                        <a href="./product.html"><h2>لپ تاپ 15 اینچی ایسوس مدل VivoBook X543MA - A</h2>
                                        </a>
                                        <div class="price">3.000.000 تومان</div>
                                        <div class="rate">
                                            <i class="fa fa-star-half-alt"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <span class="reviews">(14 رای دهنده)</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Product Item -->
                            </div>
                        </div>
                        <!-- /Suggested Products -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        function set_value(id) {
            document.getElementById('parent').value = id
            window.location.href = "#comment"
        }

        document.getElementById("submit").addEventListener("click", function () {
            window.location.href = "#message";
        });

        $(document).ready(function () {
            $('#ajax-button').click(function () {
                $.ajax({
                    url: '{% url "product:product_detail" product.slug %}',
                });
            });
        });

        /* Product Order Number */
        if ($('.btn-plus2').length > 0) {
            $('.btn-plus2').click(function () {
                var index = $(this).index('.btn-plus');
                var orderNumber = Number($('input.order-number').eq(index).val());
                $('input.order-number').eq(index).val(orderNumber + 1);
            })

            $('.btn-minus2').click(function () {
                var index = $(this).index('.btn-minus');
                var orderNumber = Number($('input.order-number').eq(index).val());
                if (orderNumber > 1)
                    $('input.order-number').eq(index).val(orderNumber - 1);
            })
        }
        /* /Product Order Number */
    </script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="{% static 'js/nav-tabs.js' %}"></script>
    <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/photoswipe.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/photoswipe-ui-default.min.js"></script>
    <script src="{% static 'js/product-gallery.js' %}"></script>


{% endblock %}