{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="inner-page" id="contact-page">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="content">
                        <div class="row">
                            <div class="col-12 col-lg-7">
                                <div class="title">معرفی فروشگاه</div>
                                <p>{{ about.introduction }}</p>
                            </div>
                            <div class="col-12 col-lg-5 align-self-center h-100">
                                <img src="assets/images/about-us.jpg" alt="">
                            </div>
                        </div>
                        <!-- Team -->
                        <div class="row pt-5">
                            <div class="col-12 text-center pt-4 pb-3">
                                <h2 class="center-title">تیم ما</h2>
                                <span class="sub-title">با تیم ما بیشتر آشنا شوید.</span>
                            </div>
                            {% for item in about.personnels.all %}
                                <div class="col-12 col-sm-6 col-lg-3">
                                    <!-- Person Box -->
                                    <figure class="team-person">
                                        <div class="profile-image"><img src="{{ item.image.url }}"
                                                                        alt="sample47"/></div>
                                        <figcaption>
                                            <h3>{{ item.name }}</h3>
                                            <h4>{{ item.position }}</h4>
                                            <p>{{ item.short_description }}</p>
                                            <div class="icons"><a href="{{ item.github }}"><i class="ion-social-github fa-2x"></i></a>
                                                <a href="{{ item.instagram }}"> <i class="ion-social-instagram fa-2x"></i></a>
                                                <a href="{{ item.linkedin }}"> <i class="ion-social-linkedin fa-2x"></i></a>
                                            </div>
                                        </figcaption>
                                    </figure>
                                    <!-- /Person Box -->
                                </div>
                            {% endfor %}
                        </div>
                        <!-- Team -->
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}