{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="inner-page" id="profile-page">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="content">
                        <div class="row">
                            <div class="col-12 col-lg-3">
                                <!-- Side Panel -->
                                {% include 'account/side-panel.html' %}
                                <!-- /Side Panel -->
                            </div>
                            <div class="col-12 col-lg-9 pl-lg-0 pr-lg-2 mt-2 mt-lg-0">
                                <!-- Profile Fields -->
                                <div class="custom-container bg-light" id="profile-fields">
                                    <div class="row pt-2 px-3">
                                        <div class="col-9 mt-2"><h1>اطلاعات شخصی</h1></div>
                                        <div class="col-3 mb-2">
                                            <a href="{% url 'account:change_profile' %}">
                                                <div class="btn btn-warning w-100">
                                                    <span class="d-md-none d-lg-inline-block text-white">ویرایش اطلاعات</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12 col-sm-6 profile-field py-2">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <div class="title">نام و نام خانوادگی</div>
                                                        {% if user.fname and user.lname %}
                                                            <div class="value">{{ usre.fname }}{{ user.lname }}</div>
                                                        {% else %}
                                                            <div class="value">-</div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6 profile-field py-2">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <div class="title">کدملی</div>
                                                        {% if user.national_code %}
                                                            <div class="value">{{ user.national_code }}</div>
                                                        {% else %}
                                                            <div class="value">-</div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6 profile-field py-2">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <div class="title">شماره تلفن همراه</div>
                                                        <div class="value">{{ user.phone }}</div>
                                                    </div>
                                                    <div class="col-2">
                                                        <a href="#" class="float-left" data-toggle="modal"
                                                           data-target="#mobileModal"><i class="fa fa-edit"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6 profile-field py-2">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <div class="title">تلفن ثابت</div>
                                                        {% if user.telephone %}
                                                            <div class="value">{{ user.telephone }}</div>
                                                        {% else %}
                                                            <div class="value">-</div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6 profile-field py-2">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <div class="title">پست الکترونیک</div>
                                                        {% if user.email %}
                                                            <div class="value">{{ user.email }}</div>
                                                        {% else %}
                                                            <div class="value">-</div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6 profile-field py-2">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <div class="title">تاریخ تولد</div>
                                                        {% if user.date_of_birth %}
                                                            <div class="value">{{ user.date_of_birth }}</div>
                                                        {% else %}
                                                            <div class="value">-</div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6 profile-field py-2">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <div class="title">شماره کارت جهت مرجوع وجه</div>
                                                        {% if user.card_number %}
                                                            <div class="value" dir="ltr">{{ user.card_number }}</div>
                                                        {% else %}
                                                            <div class="value" dir="ltr">-</div>
                                                        {% endif %}

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6 profile-field py-2">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <div class="title">رمز عبور</div>
                                                        {% if user.password %}
                                                            <div class="value">{{ user.password }}</div>
                                                        {% else %}
                                                            <div class="value">-</div>
                                                        {% endif %}
                                                    </div>
                                                    <div class="col-2">
                                                        <a href="{% url 'account:change_pass' %}" class="float-left"
                                                           data-toggle="modal"
                                                           data-target="#passwordModal"><i class="fa fa-edit"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Profile Fields -->

                                <!-- Latest Orders -->
                                <div class="mt-2 order">
                                    <div class="row pt-2 px-3">
                                        <div class="col-12"><h2>آخرین سفارش ها</h2></div>
                                    </div>
                                </div>
                                {#                                {% for order in order %}#}
                                <div class="custom-container mt-2 order">
                                    <div class="row pt-2 px-3">
                                        <div class="col-12 col-sm-6"><h2>سفارش شماره #1234</h2></div>
                                        <div class="col-12 col-sm-6 text-sm-end"><span>20 مرداد 1400</span> - <span>پرداخت شده</span>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="container">
                                        <div class="row py-2">
                                            <div class="col-12">
                                                <div>
                                                    <div class="header">
                                                        <div class="total py-1"><span>مبلغ کل:</span> 3.000.000
                                                            تومان
                                                        </div>
                                                    </div>
                                                    <div class="container products px-0">
                                                        <div class="row">
                                                            <!-- Order Record -->
                                                            {% for item in order.items.all %}
                                                                <span class="col-12 col-sm-6 col-lg-4 col-xl-3 px-1">
                                                            <a href=""
                                                               target="_blank">
                                                                <div class="product-box">
                                                                    <div class="image"
                                                                         style="background-image: url('{{ item.product.main_image.url }}')"></div>
                                                                    <div class="text-center px-1 px-sm-3">
                                                                        <h2>{{ item.product.title }}</h2>
                                                                        <div class="number">تعداد:{{ item.quantity }} عدد</div>
                                                                        <div class="price">مبلغ: {{ item.price }} تومان</div>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </span>
                                                            {% endfor %}
                                                            <!-- /Order Record -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {#                                {% endfor %}#}
                                <!-- Latest Orders -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}