{% load static %}

<!doctype html>
<html lang="fa" dir="rtl">
    {% include 'includes/head-refrences.html' %}
<body>
<!-- Header -->
    {% include 'includes/header.html' %}
<!-- /Header -->

<!-- Slider Section -->
    {% include 'includes/slider-section.html' %}
<!-- /Slider Section -->

{% block content %}
{% endblock %}

<!-- Footer -->
    {% include 'includes/footer.html' %}
<!-- /Footer -->


<!-- Scripts -->
 {% include 'includes/footer-refrences.html' %}
<!-- /Scripts -->
</body>
</html>